<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shandong.human.resource.mapper.sys.UserRoleMapper">

    <resultMap id="UserRole" type="com.shandong.human.resource.domain.UserRole">
        <result column="user_id" property="user_id" />
        <result column="role_id" property="role_id" />
    </resultMap>

    <select id="getAll" resultMap="UserRole">
        SELECT user_id , role_id FROM user_role
    </select>

    <select id="getRoleByUserID" resultMap="UserRole" parameterType="java.lang.Integer">
        SELECT  user_id , role_id FROM  user_role
        WHERE user_id = #{user_id}
    </select>

    <insert id="insertUserRole" parameterType="map">
        INSERT INTO user_role ( user_id , role_id )
        VALUES (#{user_id} , #{role_id})
    </insert>


    <delete id="delectUserRole" parameterType="map">
        DELETE FROM user_role
        WHERE user_id = #{user_id} AND role_id = #{role_id}
    </delete>
    
    <delete id="delectByUserID" parameterType="java.lang.Integer">
        DELETE FROM user_role
        WHERE user_id = #{user_id}
    </delete>
</mapper>